In [110]:
import pandas as pd

In [118]:
Brand = ['Ford','Toyota','Ford','Kia']
Price = [300,500,700,700]
Pricelist = list(zip(Brand,Price))

In [122]:
df=pd.DataFrame(data=Pricelist, columns=('Brand','Price'))
df.describe(include=('object'))

       Brand
count      4
unique     3
top     Ford
freq       2

In [137]:
df=pd.DataFrame(data=Pricelist, columns=('Brand','Price'))
df1=df.copy()
df2=df.copy()
writer=pd.ExcelWriter('test.xlsx',engine ='xlsxwriter')
df.to_excel(writer,sheet_name='pricelist')
df1.to_excel(writer,sheet_name='B')
df2.to_excel(writer,sheet_name='C')
writer.save()

In [138]:
#chain method

df=pd.DataFrame(data=Pricelist, columns=('Brand','Price'))
df1=df.copy()
df2=df.copy()

df.to_excel(pd.ExcelWriter('test.xlsx',engine ='xlsxwriter'),sheet_name='pricelist')
df1.to_excel(pd.ExcelWriter('test.xlsx',engine ='xlsxwriter'),sheet_name='B')
df2.to_excel(pd.ExcelWriter('test.xlsx',engine ='xlsxwriter'),sheet_name='C')